<div class="uk-section uk-section-small" style="background:#F4B221;">
    <div class="uk-container uk-container-large">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-3-5@s uk-dark">
                <h2 class="uk-text-bold">Virtual Mailbox $25/mo</h2>
                <p class="uk-black">A physical business address where you can receive your mail and packages</p>
            </div>
            <div class="uk-width-expand@s uk-text-center">
            </div>
        </div>
    </div>
</div>